ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(39, 39, 114);
}

li{
  float: left;
  color: white;
}

li a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.golden{
  margin: 3%;
  position: relative;
  background-image: 1000%;
}

.text-container{
  position: absolute;
  color: rgb(255, 255,255);
  left: 10rem;
  top: 2rem;
  background-color: rgb(41, 41, 41);
  padding: 0 1rem;
}

.conference h3{
 text-align: center;
 
}

.conference {

  background-color: skyblue;
}
button{
  color: white;
  background-color: red;
  padding: 2px;
  margin-bottom: 10px;
}

.footer img{
  padding: 10px;
  margin: 0;
}
 .footer{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(39, 39, 114);
 }

 .footer{
  color: white;
 }
 

