@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
  margin:0;
  padding: 0;
}
.bg{
 
  background-image: url(images/elephates.png);
  height:100px;
  min-height: 250px;
  /* Needed to position the navbar */
  position: relative;
}

  .main-container {
    display: flex; 
    height: 1500px;
    flex-direction: column; 
  }
  
  /* Style for the left div */


.navbar{
  width: 100%;
  overflow: auto;
  
}
.navbar ul{
  
  padding:0;
  margin:0 0 0 150px;
  list-style: none;
  
  padding: 2px;
  
}
.navbar li{
  float:left;
  margin: 0.5px;
 
}
.navbar a{
  width:100px;
  display: flex;
  padding:40px 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 12px;
  display:flex;
  justify-content: center;
  position: sticky;
  font-weight: bold;
  text-decoration: none;
  top:0;
  cursor: pointer;

      }

.logo img{
  
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 15px;
  display: inline;
  left: 0;
  margin: 5px 10px 10px 50px;
}

nav a:hover{
  background: grey;
  transition: 0.5;
  text-transform: uppercase;
}
.space{
    height:100px;
    min-height: 250px;
    background-color: #B9DCD2;
    display: flex;
}
.image{
    padding:30px 5px;
}
.text{
padding:20px;

}
.text h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.text.p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

      
/* Style for the main container */
.main-container {
  display: flex; /* Use flexbox to arrange child divs side by side */
  height: 1500px;
  flex-direction: column; /* Stack child divs vertically */
}

/* Style for the left div */
.up-div {
  flex: 1; /* Allow the left div to grow to take available space */
  padding: 20px; /* Adjust padding as needed */
  background-color: #ccc; /* Set background color for the left div */
  height: 550px;
  background-color: #769ABE;
  background-image: url('images/image.png'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    
    
}

/* Style for the right div */
.down-div {
  flex: 1; /* Allow the right div to grow to take available space */
  padding: 20px; /* Adjust padding as needed */
  background-color: white; /* Set background color for the right div */
  height: 950px;
}

.down-div h1{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}


.Explore {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
  float: left;
  
}
.Explore .uganda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.Explore .uganda img {
 
  border-radius: 50%;
  border: 2px;
  padding: 10px;
  height: 200px;
  width: 200px;
  transition: transform 3s ease-in-out;
  justify-content: space-between;
  align-items: center; 
            display: flex; 
            flex-direction: row; 
}
.Explore .uganda p {
  color:white;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
}
.Explore .image img {
 
  border-radius: 10%;
  border: 2px;
  padding: 10px;
  height: 200px;
  width: 350px;
  transition: transform 3s ease-in-out;
  justify-content: space-between;
  align-items: center; 
            display: flex; 
            flex-direction: row; 
}
.Explore .image p {
  color:white;
  font-size: 24px;
  font-weight:bold;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  }
.next-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
  float: left;
}
.next-line .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.next-line .image img {
 
  border-radius: 10%;
  border: 2px;
  padding: 10px;
  height: 200px;
  width: 350px;
  transition: transform 3s ease-in-out;
  justify-content: space-between;
  align-items: center; 
            display: flex; 
            flex-direction: row; 
}

.next-line.image p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
   
    
    
  /* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253746;
  padding: 30px 60px;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  border:5px;
  width: 2000px;
  
}
.bottom-links .image img{
 
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  }
  .bottom-links .image p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }


.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-links .links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}
.copy {
  color: #fff;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  
}

